<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">



    <title>admin</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">

    <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <b> <span class="text-white"  th:object="${user}" th:text="${user.email}" ></span></b>
                <span class="text-white"> with roles: </span>
                <span class="navbar-brand text-white" th:each="role : ${user.roles}" th:text="${role.name}"></span>
            </li>
        </ul>
    </div>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-dark text-secondary">Logout</button>
    </form>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <ul>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-item nav-link active" href="/admin">Admin</a>
                    <a class="nav-item nav-link" href="/user">User</a>
                </nav>
            </ul>
        </div>
        <div class="col-10">
            <h1>Admin panel</h1>

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" href="#allUsers" role="tab" data-toggle="tab">Users table</a></li>
                <li class="nav-item"><a class="nav-link" href="#newUser" role="tab" data-toggle="tab">New user</a></li>
            </ul>
            <!--    вкладка админ с таблицей всех юзеров-->


            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="allUsers">
                    <div class="card">
                        <div class="card-header">
                            <h3>All users</h3></div>

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>


                                        <div class="modal fade" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true" id="editModal">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title">Edit user</h3>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="container col-6 mt-3 mb-3">
                                                        <div class="modal-body">
                                                            <form action="admin/edit"  method="post">
                                                            <div class="mx-auto text-center font-weight-bold">

                                                                <label for="idE">ID</label>
                                                                <input type="number" class="form-control"
                                                                       id="idE" readonly>

                                                                <label for="firstNameE">First Name</label>
                                                                <input type="text" name="firstName" class="form-control"
                                                                       id="firstNameE">

                                                                <label for="lastNameE">Last Name</label>
                                                                <input type="text" name="lastName" class="form-control"
                                                                       id="lastNameE">

                                                                <label for="ageE">Age</label>
                                                                <input type="number" name="age" class="form-control"
                                                                       id="ageE">

                                                                <label for="emailE">Email</label>
                                                                <input type="email" name="email" class="form-control"
                                                                       id="emailE">

                                                                <label for="passwordE">Password</label>
                                                                <input type="password" name="password" class="form-control"
                                                                       id="passwordE">

                                                                <label for="roleE">Role</label>
                                                                <select multiple class="form-control"
                                                                        id="roleE" name="roleList"
                                                                        style="height: 50px">
                                                                    <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                                                                    <option value="ROLE_USER">ROLE_USER</option>
                                                                </select>

                                                                <br>
                                                            </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" data-dismiss="modal" class="btn btn-info"
                                                                id="btnSubmitEdit">Edit</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <div id="deleteModal" class="modal fade">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title">Delete user</h3>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="container col-6 mt-3 mb-3">
                                                            <form action="admin/delete" method="post" >

                                                            <div class="mx-auto text-center font-weight-bold">

                                                                <label for="id1">ID</label>
                                                                <input type="text" class="form-control" name="id"
                                                                       id="id1" readonly>

                                                                <label for="firstName1">First Name</label>
                                                                <input type="text" class="form-control" name="firstName"
                                                                       id="firstName1" readonly>

                                                                <label for="lastName1">Last Name</label>
                                                                <input type="text" class="form-control" name="lastName"
                                                                       id="lastName1" readonly>

                                                                <label for="age1">Age</label>
                                                                <input type="number" class="form-control" name="age"
                                                                       id="age1" readonly>

                                                                <label for="email1">Email</label>
                                                                <input type="email" class="form-control" name="email" id="email1" readonly>

                                                                <label for="password1">Password</label>
                                                                <input type="password" class="form-control" name="password" id="password1" readonly>

                                                                <label for="role1">Role</label>
                                                                <select multiple class="form-control" id="role1"
                                                                        name="roleList"
                                                                        style="height: 50px" readonly>
                                                                    <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                                                                    <option value="ROLE_USER">ROLE_USER</option>
                                                                </select>
                                                                <br>

                                                            </div>
                                                            </form>

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" data-dismiss="modal" class="btn btn-danger" id="btnSubmitDelete"
                                                                name="id">Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                    </div>
                </div>

                <!--конец вкладки админ с таблицей всех юзеров-->
                <!--    вкладка add new user    -->
                <div role="tabpanel" class="tab-pane" id="newUser">
                    <div class="card">
                        <div class="card-header">

                            <h3>Add new user</h3></div>

                        <div class="container col-3  mt-3 mb-3">
                            <form method="post" action="/admin">
                                <div class="mx-auto text-center font-weight-bold">

                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control"
                                           id="firstName" placeholder="firstName">

                                    <label for="lastName">Last Name</label>
                                    <input type="text" class="form-control"
                                           id="lastName" placeholder="lastName">

                                    <label for="age">Age</label>
                                    <input type="number" class="form-control" id="age" placeholder="age">

                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email"
                                           placeholder="email">

                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password"
                                           placeholder="password">

                                    <label for="role">Role</label>
                                    <select multiple class="form-control" id="role" name="role"
                                            style="height: 50px" size="2" required>
                                        <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                                        <option value="ROLE_USER">ROLE_USER</option>
                                    </select>
                                    <br>
                                    <button type="submit" class="btn btn-success" id="btnNewUser">Add new user</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>



                <!--    конец вкладки  add new user-->

            </div>

        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="admin.js"></script>
</body>
</html>
